<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019-2024</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Computer Science</div>
                                <h4 class="category">Institute of Technolgy & Business Stikom Bali</h4>
                                <ul>
                                        <li>ungraduate still study in Semester 4, estimate graduated 2024.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2019</p>
                        <div class="h5">Senior High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Science class student MIPA 7</div>
                            <h4 class="category">SMA Negeri 2 Mengwi</h4>
                            <ul>
                                    <li>Completed 3 grade.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2016</p>
                        <div class="h5">Junior High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">SMP (Class A)</div>
                                <h4 class="category">SMP Negeri 3 Mengwi</h4>
                                <ul>
                                        <li>Completed 3 grade.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2006-2013</p>
                        <div class="h5">Elementary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">SD (Class B)</div>
                                <h4 class="category">SD Negeri 3 Dalung</h4>
                                <ul>
                                        <li>Completed 6 grade.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div> 
